form
  width 100%
input
  font-size 20px
  padding 15px
  border-radius 6px
  margin 1%
  border 1px solid rgb(152, 169, 223)
  background-color #fffccc
  &:active, &:hover, &:focus
    box-shadow rgb(59, 94, 207) 0px 0px 25px
    background-color transparent

input[type=email]
  width 76%
input[type=submit]
  width 20%