section
  background #fff
  height 100%
  width 100%
  border-bottom 1px solid #ccc
  h1,h2
    margin 0
    text-align center
  &:nth-child(odd)
    background white
  &:nth-child(even)
    background truewhite