html
  font-size: 16px
  line-height: 1.5
  @media (min-width: 480px) //wide mobile
    font-size: 18px
  @media (min-width: 768px) //tabletportrait
    font-size: 20px
  @media (min-width: 1024px) //tablet orientation
    font-size: 22px

p, pre, video, h1, h2, h3, h4, h5, ul, ol
  word-break break-word
  margin 1rem auto


/* Modified from gridless: https://github.com/thatcoolguy/gridless-boilerplate/blob/master/assets/css/main.css
---------------------------------------- */

/*
	* Font sizes are based on the golden ratio of 16
	* See this for the modular scale: ow.ly/5jGl6
	* Line-heights and margins are adjusted to keep a 26px (1.625em) vertical rhythm across elements
*/

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: bold;
}

h1 {
  font-size: 4.25rem; /* 68px */
  line-height: 1.1471em;
  margin-bottom: 0.3824em;
}

h2 {
  font-size: 2.625rem; /* 42px */
  line-height: 1.2381em;
  margin-bottom: 0.619em;
}

h3 {
  font-size: 1.625rem; /* 26px */
  line-height: 1em;
  margin-bottom: 0 0 1em;
}

small {
  font-size: 0.625rem; /* 10px */
  margin-bottom: 2.6em;
}

