header
    #header-scroll.small
        h1
            a(href='#') #{ site_title || title }
        nav
            ul
                li
                    a(href='#1') First
                li
                    a(href='#2') Second
                li
                    a(href='#3') Third
                li
                    a(href='#4') Fourth
                li
                    a(href='#5') Fifth